/*Common elements*/
html{
}

body {
	min-width: 320px;
}

/*HEADER*/
#top-navbar {
	width: 100%;
	height: 50px;
	background: black;
}

#top-navbar img {
	height: 50px;
	display: inline;
	float: left;
}
#nav-list {
	list-style-type: none;
	text-align: center;
	float: left;
	background: black;
	padding: 0px;
}

#nav-list li {
	list-style-type: none;
  display: inline;
  float: left;
}

#nav-list a {
    background-color: black;
    color: white;
    padding: 15px 10px;
	text-decoration: none;
}
#nav-list a:hover {
	background: white;
	color: black;
}

/*FOOTER*/
footer{
    background-color: black;
    color: white;
}
footer ul{
    padding: 0;
}
footer li{
    list-style-type: none;
    display: inline;
}
footer a{
    padding: 25px;
    color: white;
}


/*index.html*/
#banner-image{
    width: 100%;
}

/*experience.html*/

/*nav menu*/